<form
  action="https://jackhighbowls.us17.list-manage.com/subscribe/post?u=7d724106e0c8f1fbc63c0ec38&amp;id=f8f6d12bf4&amp;f_id=00bae8e3f0"
  method="post"
  {% assign id_suffix = include.id_suffix | default: '' %}
  {% assign form_id = 'mc-embedded-subscribe-form' | append: id_suffix %}
  {% assign email_id = 'mce-EMAIL' | append: id_suffix %}
  {% assign first_name_id = 'mce-FNAME' | append: id_suffix %}
  {% assign error_response_id = 'mce-error-response' | append: id_suffix %}
  {% assign success_response_id = 'mce-success-response' | append: id_suffix %}
  {% assign submit_button_id = 'mc-embedded-subscribe' | append: id_suffix %}
  {% assign honeypot_id = 'mailchimp-honeypot' | append: id_suffix %}
  {% assign submit_label = include.button_text | default: button_text | default: 'Subscribe' %}
  id="{{ form_id }}"
  name="{{ form_id }}"
  class="home-lead__form"
  target="_blank"
  novalidate
>
  <div class="home-lead__form-header">
    <h2 class="home-lead__form-title">Subscribe</h2>
    <p class="home-lead__form-required"><span aria-hidden="true">*</span> indicates required</p>
  </div>

  <div class="form-group">
    <label class="home-lead__form-label" for="{{ email_id }}">
      Email address <span aria-hidden="true" class="asterisk">*</span>
    </label>
    <input
      type="email"
      name="EMAIL"
      class="form-control"
      id="{{ email_id }}"
      required
      autocomplete="email"
      placeholder="you@example.com"
    />
  </div>

  <div class="form-group">
    <label class="home-lead__form-label" for="{{ first_name_id }}">First name</label>
    <input
      type="text"
      name="FNAME"
      class="form-control"
      id="{{ first_name_id }}"
      autocomplete="given-name"
      placeholder="Taylor"
    />
  </div>

  <div id="mce-responses{{ id_suffix }}" class="home-lead__form-responses" aria-live="polite">
    <div class="response" id="{{ error_response_id }}"></div>
    <div class="response" id="{{ success_response_id }}"></div>
  </div>

  <div class="home-lead__form-actions">
    <div aria-hidden="true" class="home-lead__form-hidden-field">
      <label for="{{ honeypot_id }}" class="sr-only">Please leave this field empty</label>
      <input
        id="{{ honeypot_id }}"
        type="text"
        name="b_7d724106e0c8f1fbc63c0ec38_f8f6d12bf4"
        tabindex="-1"
        value=""
        autocomplete="off"
      />
    </div>

    <button type="submit" name="subscribe" id="{{ submit_button_id }}" class="btn btn-dark">
      {{ submit_label }}
    </button>
    <p class="home-lead__disclaimer">No spam. Unsubscribe in a click.</p>
  </div>
</form>
