<form
  action="https://jackhighbowls.us17.list-manage.com/subscribe/post?u=7d724106e0c8f1fbc63c0ec38&amp;id=f8f6d12bf4&amp;f_id=00bae8e3f0"
  method="post"
  id="mc-embedded-subscribe-form"
  name="mc-embedded-subscribe-form"
  class="home-lead__form"
  target="_blank"
  novalidate
>
  <div class="home-lead__form-header">
    <h2 class="home-lead__form-title">Subscribe</h2>
    <p class="home-lead__form-required"><span aria-hidden="true">*</span> indicates required</p>
  </div>

  <div class="form-group">
    <label class="home-lead__form-label" for="mce-EMAIL">
      Email address <span aria-hidden="true" class="asterisk">*</span>
    </label>
    <input
      type="email"
      name="EMAIL"
      class="form-control"
      id="mce-EMAIL"
      required
      autocomplete="email"
      placeholder="you@example.com"
    />
  </div>

  <div class="form-group">
    <label class="home-lead__form-label" for="mce-FNAME">First name</label>
    <input
      type="text"
      name="FNAME"
      class="form-control"
      id="mce-FNAME"
      autocomplete="given-name"
      placeholder="Taylor"
    />
  </div>

  <div id="mce-responses" class="home-lead__form-responses" aria-live="polite">
    <div class="response" id="mce-error-response"></div>
    <div class="response" id="mce-success-response"></div>
  </div>

  <div class="home-lead__form-actions">
    <div aria-hidden="true" class="home-lead__form-hidden-field">
      <label for="mailchimp-honeypot" class="sr-only">Please leave this field empty</label>
      <input
        id="mailchimp-honeypot"
        type="text"
        name="b_7d724106e0c8f1fbc63c0ec38_f8f6d12bf4"
        tabindex="-1"
        value=""
        autocomplete="off"
      />
    </div>

    <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-dark">
      {{ button_text }}
    </button>
    <p class="home-lead__disclaimer">No spam. Unsubscribe in a click.</p>
  </div>
</form>
